<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>Ironic statement.</p>
      </div>
      <div class="footer-col footer-col-2">
        <a href="https://github.com/EugenHotaj">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
          <span class="username">EugenHotaj</span>
        </a>
      </div>
      <div class="footer-col footer-col-2">
        <a href="https://www.twitter.com/EugenHotaj">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>
          <span class="username">EugenHotaj</span>
        </a>
      </div>
      <div class="footer-col footer-col-2">
        <a href="https://www.linkedin.com/in/eugen-hotaj">
          <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>
          <span class="username">eugen-hotaj</span>
        </a>
      </div> 
    </div>
  </div>
</footer>
